<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Title</key>
		<string>Enable scrobbling from the following web players</string>
		<key>Type</key>
		<string>Group</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>enable_amazon</string>
		<key>Title</key>
		<string>Amazon Cloud Player</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>enable_bandcamp</string>
		<key>Title</key>
		<string>Bandcamp</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>enable_google</string>
		<key>Title</key>
		<string>Google Play</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>enable_grooveshark</string>
		<key>Title</key>
		<string>Grooveshark</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>enable_jango</string>
		<key>Title</key>
		<string>Jango</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>enable_pandora</string>
		<key>Title</key>
		<string>Pandora</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>enable_playerfm</string>
		<key>Title</key>
		<string>Player.fm</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>enable_rhapsody</string>
		<key>Title</key>
		<string>Rhapsody</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>enable_songza</string>
		<key>Title</key>
		<string>Songza</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>enable_turntable</string>
		<key>Title</key>
		<string>Turntable</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>enable_twonky</string>
		<key>Title</key>
		<string>Twonky</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>enable_we7</string>
		<key>Title</key>
		<string>we7</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
</array>
</plist>
