html {
	background: #F6F9FB;
	font: normal 12px helvetica,arial,sans-serif;
	margin: 0;
	padding: 7px;
}

body {
	background-image: -webkit-linear-gradient(top, rgb(253, 253, 253), rgb(233, 233, 235));
	height: 290px;
	margin: 0 auto;
	overflow: hidden;
	padding: 0;
	width: 320px;
}

a {
	outline: none;
}

aside {
	background-image: -webkit-linear-gradient(top, rgb(101, 101, 101), rgb(51, 51, 51));
	-webkit-border-bottom-left-radius: 3px;
	-webkit-border-top-left-radius:    3px;
	float: left;
	height: 290px;
	margin: 0;
	padding: 0;
	width: 30px;
}

section {
	display: none;
	height: 290px;
	margin-left: 30px;
	overflow: hidden;
	position: relative;
	width: 290px;
}

.is-active {
	display: block;
}

/* ==============================
 * Sidebar navigation
 * ============================== */

.navigation {
	margin: 0;
	padding: 0;
}

	.navigation li {
		border-bottom: 1px solid #999;
		list-style: none;
		margin: 0;
		padding: 0;
	}

	.navigation li:first-child {
		-webkit-border-top-left-radius: 3px;
	}
	
	.navigation .is-selected {
		background-image: -webkit-linear-gradient(top, rgb(111, 111, 111), rgb(161, 161, 161));
	}

		.navigation a {
			background: transparent url(../img/icons/note.png) no-repeat center center;
			background-size: 18px;
			border-bottom: 1px solid #000;
			display: block;
			height: 29px;
			overflow: hidden;
			text-indent: 100%;
			white-space: nowrap;
		}

		.nav-settings a {
			background-image: url(../img/icons/gear.png);
		}

/* ==============================
 * Now playing
 * ============================== */

.album-art {
	background: transparent url(../img/album-art-default.png) no-repeat center center;
	background-size: 290px 290px;
	height: 100%;
	width: 100%;
}

	.album-art img {
		border: 0;
		height: 100%;
		margin: 0;
		padding: 0;
		width: 100%;
	}

.now-playing {
	background-image: -webkit-linear-gradient(top, rgba(50, 50, 50, 0.8), rgba(0, 0, 0, 0.8));
	border-bottom: 1px solid #000;
	display: none;
	left: 0;
	margin: 0;
	padding: 6px 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.is-active .now-playing {
	display: block;
}

	.now-playing p {
		color: #999;
		font-weight: bold;
		line-height: 16px;
		margin: 0 6px;
		overflow: hidden;
		text-align: left;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	.now-playing .track {
		color: #FFF;
		font-size: 13px;
	}

		.now-playing a {
			color: #999;
			text-decoration: none;
		}

		.now-playing a:hover {
			text-decoration: underline;
		}

		.now-playing .track a {
			color: #FFF;
		}

.score {
	background: #BCFFC2;
	-webkit-border-radius: 9px;
	-webkit-box-shadow: 0 1px 5px #555;
	bottom: 7px;
	color: #5D7F2C;
	display: none;
	font-weight: bold;
	height: 16px;
	line-height: 16px;
	margin: 0;
	padding: 1px 6px;
	position: absolute;
	right: 7px;
}

.is-bad  {
	background: #FFD6D6;
	color: #7F321D;
}

/* ==============================
 * Settings
 * ============================== */

#settings {
	background: transparent url(../img/bg-section.png) no-repeat 0 0;
	background-size: 290px 290px;
}

.auth-form {
	background: rgba(255, 255, 255, 0.6);
	-webkit-border-radius: 7px;
	display: block;
	margin: 7px auto;
	padding: 7px;
	width: 90%;
}

	.auth-form p {
		margin: 0;
	}

.is-authorized-message,
.is-authorizing-message,
.is-authorized form,
.is-authorizing form {display: none;}

.is-authorized .is-authorized-message,
.is-authorizing .is-authorizing-message {display: block;}
