@import url(reset.css);

html,
body {
	border: none;
	font: normal 12px helvetica, arial, verdana, sans-serif;
	margin: 0;
	padding: 0;
	}

body {
	padding: 0 8px;
	width: 284px;
	}

em { font-style: italic; }
strong { font-weight: bold; }

header {
	height: 30px;
	line-height: 30px;
	}

		h1 {
			background: transparent url(../img/icons/lastfm24.png) no-repeat 0 3px;
			font-weight: bold;
			height: 30px;
			line-height: 30px;
			margin: 0;
			padding: 0 0 0 29px;
			}

#nowPlaying {
	background: transparent url(../img/icons/record.png) no-repeat 0 2px;
	display: none;
	min-height: 68px;
	padding: 2px 0;
	}

		#nowPlaying p {
			margin-left: 70px;
			}

		#nowPlaying .track em {
			color: #999;
			}

		#nowPlaying .album {
			left: 8px;
			margin: 0;
			position: absolute;
			top: 32px;
			width: 60px;
			}

				#nowPlaying .album img {
					-webkit-box-shadow: 1px 1px 3px #888;
					width: 100%;
					}

		#nowPlaying .artist {
			font-size: 15px;
			margin-bottom: 4px;
			}


		#nowPlaying #turntable {
			margin-bottom: 8px;
			margin-top: 8px;
			}

#auth {
	height: 30px;
	line-height: 30px;
	position: absolute;
	right: 7px;
	top: 0;
	}

		#lastfmLoginForm {
			height: 30px;
			line-height: 30px;
			}

				#lastfmLoginForm input[type="text"] {
					width: 100px;
					}


		#lastfmLogoutLink {
			background: transparent url(../img/icons/control_eject.png) no-repeat 3px 7px;
			display: inline-block;
			height: 30px;
			overflow: hidden;
			text-indent: -9999px;
			width: 22px;
			}

		#lastfmUserimage {
			padding: 0 3px 0 0;
			}

		#lastfmUserimage img {
			border: 1px solid #CCC;
			height: 22px;
			margin: 0 0 -7px -5px;
			width: 22px;
			}

