<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Charles Gravolet</string>
	<key>Builder Version</key>
	<string>8536.30.1</string>
	<key>CFBundleDisplayName</key>
	<string>scroblr</string>
	<key>CFBundleIdentifier</key>
	<string>com.cgravolet.scroblr</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0.1</string>
	<key>CFBundleVersion</key>
	<string>2.0.1</string>
	<key>Chrome</key>
	<dict>
		<key>Database Quota</key>
		<real>10485760</real>
		<key>Global Page</key>
		<string>background.html</string>
		<key>Popovers</key>
		<array>
			<dict>
				<key>Filename</key>
				<string>popup.html</string>
				<key>Height</key>
				<real>150</real>
				<key>Identifier</key>
				<string>scroblrPopup</string>
				<key>Width</key>
				<real>320</real>
			</dict>
		</array>
		<key>Toolbar Items</key>
		<array>
			<dict>
				<key>Command</key>
				<string></string>
				<key>Identifier</key>
				<string>scroblrToggle</string>
				<key>Image</key>
				<string>img/icons/lastfm16.png</string>
				<key>Label</key>
				<string>scroblr</string>
				<key>Palette Label</key>
				<string>scroblr</string>
				<key>Popover</key>
				<string>scroblrPopup</string>
				<key>Tool Tip</key>
				<string>Open scroblr</string>
			</dict>
		</array>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>End</key>
			<array>
				<string>js/lib/zepto.js</string>
				<string>js/scroblr-injection.js</string>
				<string>js/plugins/pandora.js</string>
				<string>js/plugins/turntable.js</string>
				<string>js/plugins/google.js</string>
				<string>js/plugins/amazon.js</string>
				<string>js/plugins/bandcamp.js</string>
				<string>js/plugins/soundcloud.js</string>
				<string>js/plugins/piki.js</string>
				<string>js/plugins/songza.js</string>
				<string>js/plugins/rhapsody.js</string>
				<string>js/plugins/indieshuffle.js</string>
				<string>js/plugins/accuradio.js</string>
				<string>js/plugins/accujazz.js</string>
				<string>js/plugins/jango.js</string>
				<string>js/plugins/playerfm.js</string>
				<string>js/plugins/plugdj.js</string>
				<string>js/plugins/eighttracks.js</string>
				<string>js/scroblr-injection-init.js</string>
			</array>
		</dict>
	</dict>
	<key>Description</key>
	<string>Scrobble the music you listen to on the web.</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Update Manifest URL</key>
	<string>http://scroblr.fm/updates/safari.plist</string>
	<key>Website</key>
	<string>http://scroblr.fm</string>
</dict>
</plist>
